{% load humanize %}
{% load static %}


<div class="px-lg-5 mt-5 ">
    <div class="row">
{% for car in cars %}
      <!-- Gallery item -->
      <div class="col-xl-3 col-lg-4 col-md-6 mb-4">
        <div class="bg-white rounded shadow-sm text-center">
            <a href="/samochod/{{car.id}}/">
            <img src ='../media/{{car.foto}}' alt="" class="rounded mt-2" height="100px" max-width="100%" data-target="#image-gallery">
            </a>
          <div class="p-4">
            <h5> <a href="/samochod/{{car.id}}/" class="text-dark">{{car.marka}} {{car.model}} - {{car.get_year}} r.</a></h5>
              <p>{{car.paliwo}} {{car.silnik}} {{car.kod_silnika|default_if_none:" "|upper}}</p>
              <div class="input-group mb-3">
                  {% if car.czyDoWynajecia == True %}
                    {% if car.czyWynajety == True %}
                    <div class="col">
                      <button type="button" class="btnHide btn btn-danger mt-1 col" id="rent_{{car.id}}">Zakończ wynajem</button>
                    </div>
                    {% else %}
                    <div class="input-group-prepend">
                      <span class="input-group-text">Kosz wynajmu</span>
                      </div>
                      <input type="text" class="form-control text-center" value = {{ car.kosztWynajmuZaDzien|intcomma }} id="price_rent_{{car.id}}">
                      <div class="input-group-append">
                          <span class="input-group-text">zł / dzień</span>
                    </div>
                    {% endif %}
                  {% else %}
                   <div class="input-group-prepend">
                      <span class="input-group-text">Cena</span>
                      </div>
                      <input type="text" class="form-control text-center" id="price_{{car.id}}" name="price" value = {{ car.cena|intcomma }} id="price_{{car.id}}">
                      <div class="input-group-append">
                          <span class="input-group-text">zł</span>
                    </div>
                  {% endif %}
              </div>

              <div class="input-group">
                  <div class="input-group-prepend ">
                      <span class="input-group-text">Opis</span>
                  </div>
                  <textarea class="form-control" id="description_{{car.id}}"  name="description">{{car.opis}}</textarea>
              </div>

              {% if car.czyWidoczny == True %}
                 <button type="button" class="btnVisible btn btn-success mt-1" id="visible_{{car.id}}" onclick="carVisible({{car.id}})" >Widoczny</button>
              {% else  %}
                <button type="button" class="btnHide btn btn-danger mt-1" id="invisible_{{car.id}}" onclick="carVisible({{car.id}})">Niewidoczny</button>
              {% endif %}
              {% if car.czyDoWynajecia == True %}
                    {% if car.czyWynajety == True %}
                    <div class="col">
                      <button type="button" class="btnHide btn btn-danger mt-1 col" id="end_rent_{{car.id}}">Zakończ wynajem</button>
                    </div>
                    {% endif %}
              {% else %}
                  {% if car.rezerwacja == True and car.ilosc_dni_rezerwacji > 0 %}
                    <button type="button" class="btnBook btn btn-danger mt-1" id="reservation_{{car.id}}" onclick="carReservation({{car.id}})">Rezerwacja</button>
                  {% else  %}
                    <button type="button" class="btnNotBook btn btn-secondary mt-1" id="end_reservation_{{car.id}}" onclick="carReservation({{car.id}})">Zarezerwuj</button>
                  {% endif %}
              {% endif %}


            <button type="button" class="btnSave btn btn-secondary mt-1" id="save_{{car.id}}" onclick="saveChanges({{car.id}})">Zapisz</button>
              <a class="btn btn-danger" id="delete_{{car.id}}" href="path/to/settings" aria-label="Delete">
                  <i class="fa fa-trash-o" aria-hidden="true"></i>
                </a>
          </div>
        </div>
      </div>
      <!-- End -->
{% endfor %}

    </div>
  </div>
</div>


{% block script %}
<script src="{% static 'js/panel.js'%}"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="sweetalert2.all.min.js"></script>
{% endblock %}