{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load widget_tweaks %}

{% block css %}

{% endblock %}


{% block title %}
<title>Aut-Ko Administracja</title>
{% endblock %}

{% block content %}

<div class="container-fluid mt-5">
<div class="float-left mt-5 text-center"><a href="{% url 'samochod' %}"><button type="button" class="btn btn-primary"> Dodaj auto</button></a>
<a href="{% url 'haslo' %}"><button type="button" class="btn btn-primary">Zmień hasło</button></a>
<button id="search_button" type="button" class="btn btn-primary" onclick="searchVisible()">Ukryj wyszukiwarkę</button>
</div>


        <div id="div_search" class="">
            {% include "panel_search.html" %}
        </div>

        <div id="div_panel" class="">
        {% include "panel_car_gallery.html" %}
        </div>

    </div>
</div>
{% endblock %}


