{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
<title>Aut-Ko Zmiana hasła</title>
{% endblock %}

{% block content %}
<div class="container mt-5">
 <div class = "col">
   <h1>Zapomniałeś swoje hasło?</h1>
   {% include "multipla.html" %}
   <p class="mt-5">Podaj adres e-mail, aby zdefiniować nowe hasło.</p>
     <div class="col-3 mx-auto mt-5">
       <form action="." method="post">
       {{ form|crispy }}
       <input type="submit" value="Wyślij e-mail" class="mt-3">
       {% csrf_token %}
       </form>
     </div>
  </div>
</div>
{% endblock %}